{
  "server":{
    "host":"127.0.0.1",
    "port":"3000"
  },
  "api":{
    "scheme":"https",
    "domain":"api.solidshops.com",
    "auth":{
      "basic":{
        "user":"YOUR API KEY",
        "password":"YOUR API SECRET"
      }
    }
  },
  "theme":{
    "folder":"../location/to/your/folder"
  },
  "cache":false
}