{
  "server":{
    "host":"127.0.0.1",
    "port":"3000"
  },
  "api":{
    "scheme":"https",
    "domain":"api.solidshops.com",
    "auth":{
      "basic":{
        "user":"%%API_KEY%%",
        "password":"%%API_SECRET%%"
      }
    }
  },
  "theme":{
    "folder":"%%THEME_FOLDER%%"
  },
  "cache":false
}
